// Media Query
@mixin device($device) {
  @if $device == tablet {
    @media (min-width: 43.75rem) {
      @content;
    }
  }  
  @else if $device == desktop {
    @media (min-width: 75rem) {
      @content;
    }
  }
}

// Colors
$color1: #FFFFFF;
$color2: #FF7979;
$color3: #38CC8B;
$color4: #5E54A4;
$color5: #3D3B48; 


//Typography
$fonts: (
  "$xsmall": 0.6875rem,
  "$small": 0.875rem,
  "$medium1": 0.9375rem,
  "$medium2": 1rem,
  "$large1": 1.75rem,
  "$large2": 3.125rem,
);