// Media Query
@mixin device($device) {
  @if $device == tablet {
    @media (min-width: 43.75rem) {
      @content;
    }
  }  
  @else if $device == desktop {
    @media (min-width: 75rem) {
      @content;
    }
  }
}

// Colors
$color1: #FFFFFF;
$color2: #FF7979;
$color3: #38CC8B;
$color4: #5E54A4;
$color5: #3D3B48; 


//Typography
$fonts: (
  "$xsmall": 11px,
  "$small": 14px,
  "$medium1": 15px,
  "$medium2": 16px,
  "$large1": 28px,
  "$large2": 50px,
);